@font-face {
    font-family: 'Roboto-Medium';
    src: url('/Content/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/Content/fonts/Roboto-Regular.ttf') format('truetype');
}
* {
    font-family: 'Roboto-Regular',Tahoma,sans-serif !important;
    font-size: 13px;
}
body, html {
    height: 100%;
    margin: 0px;
}
body{
    min-width: 1024px;
    white-space: nowrap;
}

.body-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 52px calc(100% - 52px);
    height: 100%;
}
.mshopkeeper-content {
    display: grid;
    grid-template-rows: 37px 43px auto 200px;
    grid-row-gap: 8px;
    background-color: #fff;
    height: 100%;
}
.content-grid{
    display:grid;
    grid-template-rows: 65px auto 32px 53px;
}
.mshopkeeper-main {
    height: 100%;
    padding: 8px;
    background-color: #e2e2e2;
}