.content-toolbar {
    background-color: #006189;
}
.content-toolbar .item-toolbar{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display:block;
    float:left;
    margin: 2px 8px;
    padding: 8px;
}
    .content-toolbar .icon-toolbar {
        display: block;
        margin-right: 8px;
        width: 16px;
        height: 16px;
        background-image: url('../../Content/icons/common-icon.png');
        background-repeat: no-repeat;
    }
    .content-toolbar .seperate {
        float: left;
        height: calc(100% - 4px);
        margin: 2px 0;
        width: 1px;
        border-right:1px solid #1882ae;
    }
    .content-toolbar .item-toolbar:first-child{
        position: relative;
    }
    .content-toolbar span {
        float: left;
    }
    .content-toolbar .icon-add {
        background-position: -150px -203px;
    }
    .content-toolbar .icon-duplicate {
        background-position: -976px -127px;
    }
    .content-toolbar .icon-view {
        background-position: -1602px -127px;
    }
    .content-toolbar .icon-edit {
        background-position: -77px -203px;
    }
    .content-toolbar .icon-delete {
        background-position: -1076px -127px;
    }
    .content-toolbar .icon-refresh {
        background-position: -876px -127px;
    }
.dropdown-header-pay label {
    display: block;
    height: 32px;
    width: 120px;
    color: #000;
    text-align: center;
    padding: 8px;
}
.dropdown-header-pay{
    background-color:#fff;
    z-index: 100;
    position:absolute;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    display: none;
}
.dropdown-header-pay label:hover{
    background-color:#026b97;
    color:#fff;
}
    .dropdown-header-pay label{
        margin:0;
    }